
/****** Font ******/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

* { box-sizing: border-box;}
body { font-size: 16px; color:#0D0C22 ; margin: 0; padding: 0; font-family: 'Poppins', sans-serif; line-height: 1.4; background: #FFFFFF; }
a { text-decoration: none; }
img, svg { vertical-align: middle; height: auto; max-width: 100%; }
ul { margin: 0; padding: 0; list-style: none; }

input::placeholder, textarea::placeholder { opacity: 1 !important; }
input:focus-visible, input:focus, select:focus-visible, select:focus { outline: none;}

.text-center { text-align: center !important;}
.text-left { text-align: left !important;}
.text-right { text-align: right !important;}

.pb20 { padding-bottom: 20px !important;}

.grayText { color: #9E9EA7; }
.container { max-width: 1140px; padding: 0 20px; width: 100%; margin: 0 auto; display: block;}
.section { padding: 40px 0; }

h1 { margin: 0; padding: 0; display: block; font-weight: 600; font-size: 24px; line-height: 1.2; color: #11142C; }
h2 { margin: 0; padding: 0; font-weight: 500; font-size: 20px; line-height: 1.3; color: #11142C; }

.btnDiv { padding: 8px 20px; background: #EA4C89; border-radius: 4px; border: none !important; height: 38px; color: #fff; font-size: 16px; line-height: 1.2; font-weight: 400; display: flex; align-items: center; justify-content: center; color: #fff;  }
.btnDiv a, .btnDiv input, .btnDiv button  { color: #fff; font-size: 16px; line-height: 1.2; font-weight: 400; display: flex; align-items: center; justify-content: center; }
.btnDiv:hover { background: #e7367b; }


/***********|| Prefix Class Name ||*************/
.justify-content-right,.justify-content-center,.justify-content-left,.align-center,.align-bottom,
.align-left,
.align-right,
.align-top,
.align-between,
.justify-space-between {
   display: flex !important;
} 
.align-right, .justify-content-right {
   justify-content: flex-end !important;
} 
.align-justify-center, .justify-content-center {
   justify-content: center !important;
} 
.align-left, .justify-content-left {
   justify-content: flex-start !important;
} 
.align-between, .justify-space-between {
   justify-content: space-between !important;
} 
.align-center {
   align-items: center !important;
} 
.align-bottom {
   align-items: flex-end !important;
} 
.align-top {
   align-items: flex-start !important;
}
.direction-column {
   flex-direction: column;
}
/***********|| END Prefix Class Name ||*************/


/************** form **************/
.formDiv { max-width: 1000px; margin: 0 auto; padding: 30px; }
.formSection { display: flex; flex-wrap: wrap; margin: -15px; padding: 20px 0; }
.formSection .inputBox { max-width: 50%; flex-basis: 100%; padding: 15px; }
.w-100 { max-width: 100% !important; flex-basis: 100% !important;}
.inputBox { padding: 12px 0; display: block; position: relative;}  
.inputBox label { font-weight: 500; font-size: 14px; line-height: 1.3; color: #2C053F; display: block; margin: 0; padding: 0 0 8px; }
.inputBox input, .inputBox select { font-weight: 400; font-size: 16px; line-height: 1.1; border: 1px solid; border-color: #DDDDDD; border-radius: 5px; width: 100%; display: block; height: 46px; padding: 0 15px; }
.inputBox.btnInput { padding: 23px 0 0 0; }

.inputBox select { appearance: none; padding-right: 36px; } 
.selectBox { position: relative;}
.selectBox:after { content: ""; position: absolute; height: 10px; width: 10px; background: transparent; bottom: 35px; right: 28px; border-right: 2px solid #ccc; border-bottom: 2px solid #ccc; transform: rotate(45deg); border-radius: 2px; z-index: 11; }
.radioBtnSection { display: flex; align-items: center; padding: 3px 0 15px; } 
.radioBtnDiv { display: block; position: relative; padding-left: 26px; cursor: pointer; font-size: 15px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding-right: 30px; color: #0D0C22; }
.radioBtnDiv input { position: absolute; opacity: 0; cursor: pointer; left: 0; z-index: 9; top: 0; height: 100%; width: 100%; margin: 0; }
.checkmark { position: absolute; top: 1px; left: 0; height: 19px; width: 19px; background-color: #eee; border-radius: 50%; }
.radioBtnDiv:hover input ~ .checkmark { background-color: #ccc; }
.radioBtnDiv input:checked ~ .checkmark { background-color: #ea4c89; }
.checkmark:after { content: ""; position: absolute; display: none; }
.radioBtnDiv input:checked ~ .checkmark:after { display: block; } 
.radioBtnDiv .checkmark:after { top: 5px; left: 5px; width: 9px; height: 9px; border-radius: 50%; background: white; content: ""; }
.errorMsg {
    position: absolute;
    bottom: -10px;
    right: 0;
    color: #a94442;
    margin: 0;
    padding: 0;
    display: block;
}
.formSection .errorMsg { right: 20px; }
/************** End form **************/


/************** Header **************/
.header { background: #2C053F; padding: 20px 0; } 
.logoDiv { max-width: 70px; display: block; margin-right: 70px; }

.menuDiv { margin: 0; padding: 0; } 
.menuDiv ul { margin: 0 -20px; } 
.menuDiv ul li { margin: 0; padding: 0 20px; display: block; }
.menuDiv ul li a { margin: 0; padding: 0; font-weight: 400; font-size: 16px; line-height: 1; color: #FFFFFF; display: block; } 
.menuDiv ul li:hover a, .menuDiv ul li.active a{ color:#EA4C89;}

.userInfo { margin: 0; padding: 0; position: relative;}
.userProfile { height: 34px; display: block; width: 34px; border-radius: 50%; background: #EA4C89; margin: 0; padding: 0; }
.userName { cursor: pointer; }
.userName span { color: #fff; padding: 0 6px 0 10px; display: block; font-size: 16px; line-height: 1; font-weight: 400; }

.userInfoDiv { position: absolute; right: 0; top: 40px; background: #fff; width: 100%; padding: 12px 15px; border-radius: 4px; box-shadow: 0 0 11px 1px rgb(16 2 24 / 21%); display:none; }
.userInfoDiv a { display: block; color: #11142C; font-size: 16px; font-weight: 400; padding: 3px 0; }
.userInfoDiv a:hover { color: #e7367b;}
.userInfoDiv:after { height: 16px; width: 16px; background: #ffffff; position: absolute; content: ""; top: -7px; right: 12px; transform: rotate(45deg); border-radius: 3px; }
.userInfoDiv:before { content: ""; height: 30px; width: 70%; background: transparent; position: absolute; top: -30px; right: 0; }
.userName:hover .userInfoDiv { display:block;}
/************** END Header **************/

/************** Table **************/
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
} 
table thead { background: #E5E7F6; }
table thead tr th { font-size: 14px !important; padding: 9px 12px; font-weight: 500; line-height: 26px; color: #464F65; text-align: left; }
table tbody tr td { padding: 10px; font-weight: 400; font-size: 16px; line-height: 1.3; border-bottom: 1px solid #E5E7F6 !important; color: #464F65; }

.actionIcon { text-align: center; }
.actionIcon a { padding: 0 2px; width: 22px; display: inline-block; }
.statusDiv { padding-left: 20px; position: relative; } 
.statusDiv:after { content: ""; background: #ccc; height: 13px; width: 13px; border-radius: 50%; display: block; position: absolute; top: 4px; left: 0; }
.Processed.statusDiv:after { background: #61C571; }
.Failed.statusDiv:after { background: #f56666; }
.Processing.statusDiv:after { background: #c4d221; }
.New.statusDiv:after { background: #63bcf2; }
/************** END Table **************/


/************** Tabs **************/
.tab { border-bottom: 1.5px solid #E5E7F6; display: block; margin: 20px 0; } 
.tab ul { margin: 0 -15px; } 
.tab ul li { display: block; padding: 0 15px 20px 15px; cursor: pointer; } 
.tab ul li a { font-weight: 400; font-size: 16px; line-height: 16px; color: #272D61; display: block; } 
.tab ul li a.active, .tab ul li:hover a { color: #019FE2; }
.tabcontent { display: none;}
/************** END Tabs **************/




.dropdown-right .dropdown-menu {
    left: auto;
    right: 0;
    margin-top: 6px;
}


.header .dropdown .dropdown-img {
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
}

.header .dropdown-toggle::after {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    content: "";
    border-top: .3em solid #fff;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


.text-right {
    text-align: right;
    margin-top: 0px;
}

#Status, #EditStatus, #AddCoomanlookup, #EditCoomanlookup, #AddDepartment, #editDepartment, #btnforms, #btnemployee, #btnsave, #btninward, #mysubmit, #btnform {
    margin-top: 0px;
}


