<br/>
<html>
<head>
    <title></title>

</head>
<body>
    <div class="section" style="background-color: white; box-shadow: 20px 20px 50px grey">
        <div class="container">
            <div class="topTitleHead pb20">
                <h1 style="color:black"> Systems</h1>
            </div>
            <label id="alertid" class="bg-success text-white"></label>
            <!----- Tabs ---->
            <div class="tab">
                <ul class="align-center" id="my-lists"></ul>
            </div>
            <div class="tabContentDetails" id="tabContentDetails">
            </div>
        </div>
    </div>
</body>

</html>

<script>
    function loadTab(SystemsName) {
       @* if (SystemsName == "User") {
            url = $("#"+SystemsName).data('url');
            $("#User").load(url)
        }*@
        url = $("#"+SystemsName).data('url');
        $("#" + SystemsName).load(url)

    }
    function openSystems(evt, SystemsName) {
        sessionStorage.setItem("tabName", SystemsName);
        isUserLoaded = false;
        loadTab(SystemsName);
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(SystemsName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function ()
    {
        $.ajax({
            url: '@Url.Action("GetFormTabList", "FormMst")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                var result = data.filter(x => x.ParentForm == 'System');
                $.each(result, function (index, item) {
                    $("<li><a id='tab_"+item.Name+"' class='tablinks' onclick='openSystems(event,\"" + item.Name + "\"\)'\'>" + item.Name + "</a></li>").appendTo("#my-lists");
                });
                $.each(result, function (index, item) {
                    $("<div id='" + item.Name + "' class='tabcontent' style='display: block' data-url='" + item.NavigateURL + "'></div>").appendTo("#tabContentDetails");
                });
                afterLoad(result[0].Name);
            }
        });
    });
    function afterLoad(tabName) {
        var activeTabId = sessionStorage.getItem("tabName");
        //var tabcontent = document.getElementsByClassName("tabcontent");
        //var tablinks = document.getElementsByClassName("tablinks");
        var tablinks = $("#tab_" + activeTabId);

       //if (activeTabId == '')
       //{
       //    tablinks = $("#tab_" + tabName);
       //    loadTab(tabName);
       //    tablinks[0].className = 'tablinks active';
       //}
      @* else if (window.performance.getEntriesByType("navigation")[0].type == 'reload' && activeTabId != "")
       {
           var tabcontent = $("#" + activeTabId);
           tabcontent[0].style.display = "block";
           loadTab(activeTabId);
           tablinks[0].className = 'tablinks active';
       }*@
       //else
       //{
       //    var tabcontent = $("#" + activeTabId);
       //     tabcontent[0].style.display = "block";
       //     loadTab(activeTabId);
       //     tablinks[0].className = 'tablinks active';
        // }
        if (window.performance.getEntriesByType("navigation")[0].type == 'reload' || activeTabId == "" || activeTabId == null) {
            tablinks = $("#tab_" + tabName);
           loadTab(tabName);
           tablinks[0].className = 'tablinks active';
        }
        else {
            var tabcontent = $("#" + activeTabId);
            tabcontent[0].style.display = "block";
            loadTab(activeTabId);
            tablinks[0].className = 'tablinks active';
        }
       @* sessionStorage.setItem("tabName", "");*@
    }
</script>