@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="mainDiv">
        <!-- Header -->
        
        <!-- END Header -->
        <!-- Section -->
        <div class="section">
            <div class="">
                <div class="topTitleHead pb20">
                    <h1> Systems</h1>
                </div>

                <!----- Tabs ---->
                <div class="tab">
                    <ul class="align-center">
                        <li> <a class="tablinks active" onclick="openSystems(event, 'UserManagement')"> User Management </a></li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'RoleManagement')"> Role Management</a> </li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'CommonLookUp')"> CommonLookUp</a> </li>
                        @*<li> <a class="tablinks" onclick="openSystems(event, 'Settings')">Settings </a> </li>*@
                        <li> <a class="tablinks" onclick="openSystems(event, 'Activitylogs')">Activity logs </a> </li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'Errorlogs')">Error logs </a> </li>
                    </ul>
                </div>
                
                <div class="tabContentDetails">
                    <div id="UserManagement" class="tabcontent" style="display: block">
                        @Html.Partial("~/Views/UserManage/_ListPartialView.cshtml")
                    </div>
                    <div id="RoleManagement" class="tabcontent" data-url='@Url.Action("Index","Role")'>
                        @*@Html.Partial("~/Views/Role/_RoleListLayout.cshtml")*@
                    </div>

                    <div id="CommonLookUp" class="tabcontent" data-url='@Url.Action("Index","CommonLookUp")'>
                        @Html.Partial("~/Views/CommonLookUp/_CommonListLayout.cshtml")
                    </div>
                    <div id="Settings" class="tabcontent">
                        <div class="align-center align-between pb20">
                            <h2>Settings</h2>
                            <div class="btnDiv">
                                <a href="#">+ Add Setting</a>
                            </div>
                        </div>
                        <div class="tableDiv">
                            <table>
                                <thead>
                                    <tr>
                                        <th> Config Key </th>
                                        <th> Config Name</th>
                                        <th> Config Value</th>
                                        <th class="text-center" style="width: 12%;"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> aws Key  </td>
                                        <td> aws </td>
                                        <td> 153 </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> token  </td>
                                        <td> refresh token </td>
                                        <td> 134 </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Activitylogs" class="tabcontent">
                        <div class="align-center align-between pb20">
                            <h2>Activity logs</h2>
                        </div>
                        <div class="tableDiv">
                            <table>
                                <thead>
                                    <tr>
                                        <th> User Name </th>
                                        <th> Url</th>
                                        <th> Http Method </th>
                                        <th> Http  Status </th>
                                        <th> Excution Time </th>
                                        <th class="text-center" style="width: 12%;"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Processing"> Processing  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Failed"> Failed  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Processed"> Processed  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv New"> New  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Errorlogs" class="tabcontent">
                        <div class="align-center align-between pb20">
                            <h2>Error logs</h2>
                        </div>
                        <div class="tableDiv">
                            <table>
                                <thead>
                                    <tr>
                                        <th> User Name </th>
                                        <th> Url</th>
                                        <th> Http Method </th>
                                        <th> Http  Status </th>
                                        <th> Excution Time </th>
                                        <th class="text-center" style="width: 12%;"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Failed"> Failed  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!----- END Tabs ---->
            </div>
        </div>
        <!-- END Section -->
    </div>
</body>
<script>
    function openSystems(evt, SystemsName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(SystemsName).style.display = "block";
        evt.currentTarget.className += " active";

        if (SystemsName = 'RoleManagement') {
            var url = $('#RoleManagement').data('url');
            $.get(url, function (data) {
                $("#RoleManagement").html(data).load($(this).data('url'));
            });
        }
        @*switch (SystemsName) {*@

           @* case 'UserManagement':
                var url = $('#UserManagement').data('url');
                $.get(url, function (data) {
                    $("#UserManagement").html(data).load($(this).data('url'));
                });
                break;*@

           @* case 'RoleManagement':
                var url = $('#RoleManagement').data('url');
                $.get(url, function (data) {
                    $("#RoleManagement").html(data).load($(this).data('url'));
                });
                break;*@

           @* case 'CommonLookUp':
                var url = $('#CommonLookUp').data('url');
                $.get(url, function (data) {
                    $("#CommonLookUp").html(data).load($(this).data('url'));
                });
                break;
            default:*@
       @* }*@

    }
</script>