﻿@model IEnumerable<CRMS.Core.Models.AuditLogs>

<title>ErrorLog</title>
<div class="section">
    <div class="container">
        <div class="align-center align-between pb20">
            <h2>Error Logs</h2>
        </div>
        <div class="row">

            @(           
             Html.Kendo().Grid(Model).Name("ErrorGrid").Columns(columns => {
                 columns.Bound(expression: c => c.Comments);
                 columns.Bound(expression: c => c.Url);
                 columns.Bound(expression: c => c.Exception);
             })              
                .NoRecords("No record found")
                .Sortable()
                .Scrollable()
                .Filterable()
                .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
                .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("ErrorLogGrid", "ErrorLogs"))
                .Model(model => model.Id(p => p.Id)))
             )
        </div>
    </div>
</div>