@model IEnumerable<CRMS.Core.ViewModel.AuditLogsIndexViewModel>


<title>Audit Log</title>
<div class="section">
    <div class="container">
        <div class="align-center align-between pb20">
            <h2>Audit Logs</h2>
        </div>
        <div class="row">

            @(
                //Html.Kendo().Grid<CRMS.Core.ViewModel.AuditLogsIndexViewModel>().Name("AuditLog").Columns(columns => {
                Html.Kendo().Grid(Model).Name("AuditLog").Columns(columns => {
                    columns.Bound(expression: c => c.UserName).Width(140);
                    columns.Bound(expression: c => c.ExecutionTime).Sortable(true);
                    columns.Bound(expression: c => c.HttpMethod).Width(140);
                    columns.Bound(expression: c => c.Url);
                    columns.Bound(expression: c => c.HttpStatusCode).Width(140);
                    columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Details", "AuditLogs") + "/#=Id#' class='btn btn-info'  " + "><i class='glyphicon glyphicon-eye-open'></i></a>")
                    .Title("Action").Width(80).Filterable(false);

                })
               @* .HtmlAttributes(new { style = "width:1170px;" })*@
                .NoRecords("No record found")
                .Sortable()
                .Scrollable()
                .Filterable()
                .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
                .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("AuditLogGrid", "AuditLogs"))
                .Model(model => model.Id(p => p.Id)))
             )
        </div>
    </div>
</div>